/* style.css */

body {
    background-color:cornflowerblue;
}

main {
    margin-top: 30px;
}

h1 {
    text-align: center;
}

@media screen and (max-width: 650px) {
    body {
        background-color:mediumorchid;
    }
}

