/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    height: 200px;
    width: 100%;
    background-color: indigo;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #34005b;
    color: white;
    border: 1px solid #ebebeb;
}

.one {
    flex: 1.5 0 auto;   /* Will grow into 1.5 parts of the available space. */ 
}

.two,
.three {
    flex: 1 0 auto;     /* Will grow into 1 part of the available space. */
}

